@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
}
  
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

* {
    padding: 0px;
    margin: 0px;
    font-size:0px;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    display: block;
    background: transparent;
    border: none;
}
header {
    background-color: rgb(26, 25, 21);
    padding-top: 20px;
    padding-bottom: 138px;
    background-repeat: no-repeat;
    background-size: cover;
}
.authorisation__button__wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
.authorisation__button {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;    
    padding: 8px 16px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 20px;
}
.authorisation__button:hover {
    border-color: #ffffff;
    transition: all 500ms linear;
}
.logo__wrapper {
    text-align: center;
}

.logo__link {
    display: block;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;      
}
.header__content-wrapper {
    text-align: center;
}
.main__title {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -1px;
}
.main__title__description {
    display: block;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
             
}
.find__partner__button {
    background-color: rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    padding: 11px;
    cursor: pointer;
}
.find__partner__button:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(255, 78, 80);
    transition: all 500ms linear;
}
.partners {
    padding-top: 70px;
    padding-bottom: 56px;
}


.section__title__wrapper {
    text-align: center;
}
.section__title {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;   
    margin-bottom: 20px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 28px;
}




.partners__list__item {
    display: block;
    max-width: 250px;    
}

.partner__image__wrapper {
    position: relative;
    width: 121px;   
    margin: 0 auto 20px;
}

.partner__image__wrapper::after {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;    
    bottom: 0;
    right: 0;
    border: 4px solid #ffffff;
    border-radius: 50%;
    display: block;
    position: absolute;    
}
.partner1__image__wrapper::after {
    background-image: url("../img/partner1-icon-image.png");
    background-color: rgb(255, 78, 80);
}
.partner2__image__wrapper::after {
    background-image: url("../img/partner2-icon-image.png");
    background-color: #ffa507;
}
.partner3__image__wrapper::after {
    background-image: url("../img/partner3-icon-image.png");
    background-color: #1cd7ad;
}
.partner4__image__wrapper::after {
    background-image: url("../img/partner4-icon-image.png");
    background-color: #4e73db;
}




.partner__image {
    margin: 0 auto;
}
.partner__name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 14px;  
}
.partner__description {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.2;    
}
.other__partners__button {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 78, 80);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: transparent;
    padding: 11px;
    cursor: pointer;
    margin: 0 auto;
}
   
.other__partners__button:hover {
    background-color: rgb(255, 78, 80);
    color: rgb(255, 255, 255);
    transition: all 500ms linear;
}

@media screen and (max-width: 767px) {
    header {
        background-image: url("../img/320px/header-image-320px.png");
    }
    .authorisation__button__wrapper {
        margin-bottom: 120px;
    }
    .logo__link {
        width: max-content;
        margin:0 auto;
           
    }
    .main__title__description {
        padding: 18px 26px;
    }
    .other__partners__button,
    .find__partner__button {
        width: 280px;
    }
    .partners__list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    header {
        background-image: url("../img/768px/header-image-768px.png");
        padding-bottom: 234px;
    }
    .authorisation__button__wrapper {
        margin: 0 0 134px;
        padding: 18px 0;
    }
    .logo__link {
        padding: 24px 0;
    }
    .main__title {
        font-size: 52px;
        line-height: 1.2;
        margin-bottom: 38px;
        padding: 0 100px;
    }
    .main__title__description {
        font-size: 24px;
        margin-bottom: 34px;
    }
    .partners__list {
        margin-bottom: 40px;
    }    

    .partners__list__item {
        margin: 0 0 60px;
    }
    .partner1__list__item {
        order: 1;
    }
    .partner2__list__item {
        order: 2;
        margin-bottom: 0;
    }
    .partner3__list__item {
        order: 1;
    }
    .partner4__list__item {
        order: 2;
        margin-bottom: 0;
    }
   
    .other__partners__button {
        width: 192px;
    }
    .find__partner__button {
        width: 226px;
    }
    .partners {
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 992px) {
    header {
        background-image: url("../img/1440px/header_image-1440px.png");
        padding-bottom: 234px;
    }
    .authorisation__button__wrapper {
        margin: 0 0 152px;    
    }
    .main__title {
        padding: 0;
    }
    .section__title__wrapper {
        margin-bottom: 34px;
    }

    .partners__list__item {
        margin-bottom: 0;
    }
    .partners {
        padding-bottom: 72px;
    }
}

  